<%= erb :'partial/head' %>
      
      <% if @output == 'ok' %>
        <p>Quote sent.</p>
      <% elsif @output == 'fail' %>
        <p>Error sending the quote: <%= @errors.first.first %></p>
      <% elsif @output == 'duplicate' %>
        <p>Error sending the quote: Username not available.</p>
      <% else %>
        <form action="" method="post" class="form">
          <input type="text" class="input-block-level" name="source" placeholder="Source" />
          <input type="text" class="input-block-level" name="tags" placeholder="Tags" title="Divide each tag by a comma (,)" />
          <textarea class="input-block-level" name="quote" rows="10"></textarea>
          <%= csrf_tag %>
          <input type="submit" class="btn btn-medium" value="Send" />
        </form>
      <% end %>
        
<%= erb :'partial/foot' %>
