      <footer class="text-right" >
        <p><small><a href="https://github.com/RoxasShadow/Quotone" target="_blank">Quotone</a> (C) 2013</small></p>
      </footer>
      
    </div>

    <script type="text/javascript" src="<%= @domain %>/javascript/sharrre.js"></script>
    
  </body>
</html>
