      <footer>
        <p><a href="https://github.com/RoxasShadow/Quotone" target="_blank">Quotone</a> (C) 2013</p>
      </footer>
      
      </div>
    </div>
    
    <script type="text/javascript">
      window.___gcfg = {lang: '<%= @language %>'};

      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    
  </body>
</html>
